body{
    background-color: black;
}
h1{
    font-style: normal;
    font-family: serif;
    background-image:linear-gradient(red,yellow);
    border-radius:10px;
    width: 650px;
    margin: 15px auto;
    text-align: center;
    padding: 15px;
}
li{
    background-color: yellow;
    display: inline;
}
figure img{
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0.1s;
}
figure img:hover{    
    transform: scale(1.2);
}


#cabezera{
    background-color: cadetblue;
}
#navegacionprincipal{
background-color: green;
}
#barralateral{
    background-color: salmon;
    float: left;
    height: 1204px;
}
#contenidoprincipal{
    background-color: blueviolet;
    padding-top: 3px;
    height: 1204px;
}
#pieprincipal{
    clear: both;  
    background-color: chartreuse;
    margin-top: 63px;
    padding-left: 15px;
}